name: C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout
        uses: actions/checkout@v4

      # Install dependencies (cmake, ninja, compilers)
      - name: Install build tools
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            cmake \
            ninja-build \
            build-essential

      # Configure build using CMake (out-of-source build)
      - name: Configure
        run: |
          cmake -S . -B build -G Ninja \
            -DCMAKE_CXX_STANDARD=20 \
            -DCMAKE_BUILD_TYPE=Debug

      # Build
      - name: Build
        run: |
          cmake --build build --config Debug

      # Run Tests
      - name: Run Tests
        run: |
          echo "run tests"
          cd build
          ctest --verbose --output-on-failure
